body {
	background-color: white;
}
.row{
	padding: 32px 0 32px 24px;
	display: flex;
	flex-direction: row;
}
.left-column {
	width: 55%;
	display: flex;
	flex-direction: column;
}
.right-column {
	width: 45%;
	display: flex;
	flex-direction: column;
}
@media only screen and (max-width: 760px) {
	.row {
		padding: 0 16px;
		flex-wrap: wrap;
	}
	.left-column {
		width: 100%;
	}
	.right-column {
		width: 100%;
	}
}
