.banner {
	display: grid;
	grid-template-areas:
		'banner-image'
		'attention';
	background-color: #d3d3d3;
	color: #4d4d4d;
}

@media only screen and (min-width: 768px) {
	.banner {
		grid-template-columns: .6fr .4fr;
		grid-gap: 24px;
		grid-template-areas:
			'banner-image attention';
		padding: 32px 24px;
	}
}

.banner-image {
	width: 100%;
}
@media only screen and (min-width: 768px) {
}

.attention {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: left;
}
.attention h3 {
	padding-top: 32px;
	padding-bottom: 24px;
}