.banner {
	display: grid;
	grid-template-areas:
		'banner-image'
		'attention';
	background-color: lightgrey;
}
.banner-image {
	width: 100%;
}
@media only screen and (min-width: 768px) {
	.banner {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			'banner-image attention';
	}
}

.attention {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: left;
}