.navbar {
	display: grid;
	grid-template-areas:
		'logo'
		'menu';
	align-items: flex-start;
	justify-content: flex-start;
	border-bottom: solid 1px #c6c1c1;
}
@media only screen and (min-width: 768px) {
	.navbar {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}
}

.menu {
	display: inline-flex;
	justify-content: space-around;
}

.navbar a {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}