body {
	background-color: #ffffff;
	color: #4d4d4d;
}

.btn {
	padding: 8px 10px;
	background-color: #4b4b4b;
	color: #ffffff;
	box-shadow: none;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	width: 100%;
}