.main {
	display: grid;
	grid-template-areas:
		'main-fig'
		'maincards';
}
@media only screen and (min-width: 768px) {
	.main {
		grid-template-columns: .6fr .4fr;
		grid-gap: 24px;
		grid-template-areas:
			'main-fig maincards';
		padding: 32px 24px;
	}
}

.main-fig {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.main-fig img {
	width: 100%;
}
.main-fig .caption {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
}
.caption h1 {
	font-size: 2rem;
	padding: 32px 0 24px;
}

.maincards > :nth-child(3) {
	background-color: #d3d3d3;
}