@media only screen and (min-width: 768px) {
	.thesis {
		display: grid;
		grid-gap: 24px;
		grid-template-columns: .6fr .4fr;
		grid-template-areas:
			'thesis-header thesis-header'
			'thesis-fig thesiscards';
		padding: 32px 24px;
	}
}

.thesis-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	grid-area: thesis-header;
	padding: 32px 0;
}

.thesis-fig {
	grid-area: thesis-fig;
}

.thesis-vid {
	width: 100%;
	padding-bottom: 24px;
}
.vid-caption h2 {
	padding-bottom: 8px;
}

.thesiscards {
	display: none;
}
@media only screen and (min-width: 768px) {
	.thesiscards {
		grid-area: thesiscards;
		display: block;
	}
}