.thesis {
}
@media only screen and (min-width: 768px) {
	.thesis {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-areas:
			'thesis-header .'
			'thesis-fig thesiscards';
	}
}

.thesis-header {
	grid-area: thesis-header;
}

.thesis-fig {
	grid-area: thesis-fig;
}

.thesis-vid {
	width: 100%;
}

.thesiscards {
	display: none;
}
@media only screen and (min-width: 768px) {
	.thesiscards {
		grid-area: thesiscards;
		display: block;
	}
}