body {
	background-color: white;
}
.row{
	padding: 32px 0 32px 24px;
	display: flex;
	flex-direction: row;
}
.left-column {
	width: 55%;
	display: flex;
	flex-direction: column;
}
.right-column {
	width: 45%;
	display: flex;
	flex-direction: column;
}
@media only screen and (max-width: 760px) {
	.row {
		padding: 0 16px;
		flex-wrap: wrap;
	}
	.left-column {
		width: 100%;
	}
	.right-column {
		width: 100%;
	}
}
/* HEADER */

.header {
	padding-top: unset;
	padding-bottom: unset;
	align-items: center;
	justify-content: space-between;
	border-bottom: solid 1px #c6c1c1;
	height: 64px;
}
nav a {
	padding-right: 16px;
	display: flex;
	align-items: center;
}
.logo {
	margin-right: auto;
}
.menu {
	margin-left: auto;
	display: inline-flex;
}
nav .campus img {
	display: none;
}
nav .online img {
	display: none;
}
nav .login img {
	display: none;
}

@media only screen and (max-width: 760px) {
	.header { 
		justify-content:center;
	}
	nav a span {
		display: none;
	}
	.logo {
		margin:unset;
	}
	.menu {
		margin: unset;
	}
	nav .campus img {
		display: block;
	}
	nav .online img {
		display: block;
	}
	nav .login img {
		display: block;
	}
}

/* ./HEADER */

/* BANNER */
.banner {
	background-color: lightgrey;
}
.banner .right-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.attention {
	display: flex;
	flex-direction:column;
	align-content: center;
	justify-content: center;
	padding: 40px 40px;
}

@media only screen and (max-width: 760px) {
	.banner.row {
		padding:unset;
		flex-direction:column;
	}
	.banner .left-column > img {
		width: 100%;
		padding: unset;
	}
	.banner .right-column{
	}
	.attention {
		display: flex;
		margin: 32px 16px;
	}
}

/* ./BANNER */

/* MAIN */

.main .left-column{
	padding-right: 24px;
}
.hero>img {
	padding-bottom: 32px;
	width: 100%;
}
.hero>h1 {
	padding: 24px 0;
}
.hero>p {
	padding: 8px 0;
}
.card-column {
	display: flex;
	flex-direction: column;
	padding: 16px 0;
}
.main .card-column {
}
.horizontal-card {
	display: flex;
	align-items: center;
	flex-direction:row;
	border-bottom: solid 1px #c6c1c1;
	border-top: solid 1px #c6c1c1;
	border-left: solid 1px #c6c1c1;
	width:100%;
}
#guest-info {
	background-color: lightgray;
}
.horizontal-card img.desktop {
	padding: 16px 16px;
}
#orientation-info {
	border-top:none;
}
#orientation-info img {
	padding-top: 0;
}
.horizontal-card img.mobile {
  display: none;
}
.card-info {
	display: flex;
	flex-direction: column;
}
.horizontal-card .card-info h3,
.horizontal-card .card-info p,
.horizontal-card .card-info a {
	padding: 8px 0;
}


@media only screen and (max-width: 760px) {
	.hero {
		display: none;
	}
	.horizontal-card {
		border: none;
		width: 100%;
	  flex-wrap:wrap; 
/* 		padding: 16px 16px; */
	}
	.horizontal-card img.desktop {
		display: none;
	}
	.horizontal-card img.mobile {
		display:block;
		width: 100%;
  	padding: 16px inherit;
	}	
	.card-info {
  	display: flex;
  	flex-direction: column;
		align-content: center;
		justify-items: center;
  }
	.horizontal-card .card-info h3,
	.horizontal-card .card-info p,
	.horizontal-card .card-info a {
		padding: 0 16px;
		width: 100%;
	}
	#guest-info {
		background-color: white;
	}
}

/* ./MAIN */

/* COURSES */
.courses {
	background-color:lightgrey;
}
.deck {
	display: flex;
	flex-direction: column;
}
.hand.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-items: stretch;
	padding: 32px 32px;
	align-items: flex-start;
	align-content: stretch;
}
.vertical-card {
	display: flex;
	flex-direction: column;
	max-width: 428px;
	padding: 16px 16px;
}
.vertical-card .card-info {
	background-color: white;
	padding: 0 16px 24px 16px;
	display: flex;
	justify-content: flex-start;
}
.card-info > h3 {
	padding: 16px 0;
}
.card-info > p {
	padding: 8px 0;
}
.courses .mobile {
	display: none;
}

@media only screen and (max-width: 760px) {

	.courses {
		background-color: white;
	}
	.courses .hand.row {
		display: none;
	}
	.courses .mobile {
		display: block;
	}
	.course {
		background-color:lightgrey ;
		padding: 16px;
		margin-bottom: 8px;
	}
}

/* ./COURSES */

/* THESIS */

.thesis .video {
	display: flex;
	flex-direction: column;
}
.thesis video {
	width: 100%;
}
.thesis .row {
	display: flex;
	flex-direction: row;
}
.video>video>source {
	padding-bottom: 24px;
	width: 100%;
	padding-right:24px;
}
.video>h2 {
	padding: 24px 0;
}
.video > p {
	padding: 8px 0;
}
.exhibit .right-column {
	padding-left: 16px;
}
#fisma {
	background-color: lightgrey;
}

@media only screen and (max-width: 760px) {
	#fisma,
	#nowthen,
	.video>h2,
	.video>p {
		display: none;
	}
	.thesis video {
		width: 100%;
	}	
}

/* ./THESIS */

/* FOOTER */
.footer p {
	margin-right: auto;
}
.footer a {
	padding-right: 16px;
}
@media only screen and (max-width: 760px) {
	.terms,
	.privacy {
		display: none;
	}
	.footer.row {
		padding: 16px 0 16px 16px;		
	}
}

/* ./FOOTER */















